<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.LCY.myapp.model.dao.BoardMapper">

	<!-- 게시판 만들기 -->
	<select id="create">
		insert into comment(cafe_code,content,user_id)
		value(#{cafe_code},#{content},#{user_id})
	</select>

	<select id="read" parameterType="com.LCY.myapp.model.dto.Board">
		select cNum, cafe_code, content,
		user_id, comment_date from comment
	</select>

	<select id="update">
		update comment set cafe_code =#{cafe_code},
		content
		=#{content} where cNum =#{cNum}
	</select>
	<select id="delete">
		delete from comment where cNum=#{cNum}
	</select>
	<!-- 목록 뿌리기 -->
	<select id="listAll" resultType="com.LCY.myapp.model.dto.Board">
		<![CDATA[select * from comment where cNum > 0 order by cnum desc, comment_date desc]]>
	</select>
</mapper>